ActionBar {
  color: #333;
  background-color: #fff;
}

.title {
  font-size: 26;
  horizontal-align: center;
  margin: 20;
}

.btn-yellow {
  horizontal-align: center;
  background-color: #fff000;
  color: #111;
}

.message {
  font-size: 20;
  color: #284848;
  margin: 10;
  horizontal-align: center;
}
